@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin: 0;
  padding: 0;
  font-family: "T-Light", "W-Light", sans-serif, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell;
}

@font-face{
  font-family: "T-Light";
  src: local("Estedad-Light"),
    url("./fonts/ttf/Estedad-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "W-Light";
  src: local("Estedad-Light"),
    url("./fonts/webfonts/statics/Estedad-Medium.woff2") format("woff");
}

@layer base{
  /* Displays */
   .Display1-B{
    @apply text-[64px];
    @apply font-bold;
   }
   .Display2-B{
    @apply font-bold;
    @apply text-[56px];
   }
   /* 3XL */
   .Caption-3XL-L{
    @apply text-[32px];
   @apply font-light;
  }
  .Caption-3XL-M{
    @apply text-[32px];
   @apply font-medium;
  }
  .Caption-3XL-B{
    @apply text-[32px];
   @apply font-bold;
  }
   /* 2XL */
   .Caption-2XL-L{
     @apply text-[24px];
    @apply font-light;
   }
   .Caption-2XL-M{
     @apply text-[24px];
    @apply font-medium;
   }
   .Caption-2XL-B{
     @apply text-[24px];
    @apply font-bold;
   }
   /* XL */
   .Caption-XL-L{
     @apply text-[20px];
    @apply font-light;
   }
   .Caption-XL-M{
     @apply text-[20px];
    @apply font-medium;
   }
   .Caption-XL-B{
     @apply text-[20px];
     @apply font-bold;
   }
   /* L */
   .Caption-L-L{
     @apply text-[16px];
    @apply font-light;
   }
   .Caption-L-M{
     @apply text-[16px];
    @apply font-medium;
   }
   .Caption-L-B{
     @apply text-[16px];
    @apply font-bold;
   }
   /* S */
   .Caption-S-L{
     @apply text-[12px];
     @apply font-light;
   }
   .Caption-S-M{
     @apply text-[12px];
     @apply font-medium;
   }
   .Caption-S-B{
    @apply text-[12px];
    @apply font-bold;
  }
  /* XS */
  .Caption-XS-L{
    @apply text-[10px];
    @apply font-light;
  }
  .Caption-XS-M{
    @apply text-[10px];
    @apply font-medium;
  }.Caption-XS-B{
    @apply text-[10px];
    @apply font-bold;
  }
  /* grid , flex */
   .center-items{
    @apply grid;
    @apply place-content-center;
   }
   .center-items-flex{
    @apply flex;
    @apply justify-center;
    @apply items-center;
   }
}